<%- include('./admin_header.ejs', { title: 'Пользователи', user: user, error: error, success: success }) %>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>telegram</th>
            <th>Роль</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(u => { %>
            <% if(u.username != user.username){ %>
            <tr>
                <td><%= u.username %></td>
                <td><%= u.telegram %></td>
                <td><%= u.isAdmin ? 'Администратор' : 'Пользователь' %></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <% if(!u.isAdmin) {%>
                            <form class="btn-group" action="/admin/users/<%= u._id %>/promote" method="POST" onsubmit="return confirm('Вы уверены, что хотите сделать пользователя администратором?');">
                                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-user-plus"></i></button>
                            </form >
                        <% } else if (user.username === "admin"){%>
                            <form class="btn-group" action="/admin/users/<%= u._id %>/demote" method="POST" onsubmit="return confirm('Вы уверены, что хотите понизить пользователя');">
                                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-user-minus"></i></button>
                            </form >
                        <% }%>
                        <form class="btn-group" action="/admin/users/<%= u._id %>/delete" method="POST" onsubmit="return confirm('Вы уверены, что хотите удалить этого пользователя?');">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                  </td>
            </tr>
        <% } %>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer.ejs') %>
